<div class="row">
  <div class="col-lg-4 col-md-3">
  </div>
  <div class="col-lg-4 col-md-6 col-12 middle-container">
      <h1 class="title">Welcome to {{bankName}}</h1>
      <h6 class="subtitle">to make a bank account, please register</h6>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <!--<div>
              <label for="name">
                First Name
              </label>
              <input id="name" type="text" formControlName="name">
          </div>
          <div>
              <label for="surname">
                Last Name
              </label>
              <input id="surname" type="text" formControlName="surname">
          </div>
          <button type="submit">Register</button>-->
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput id="name" type="text" formControlName="name">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput id="surname" type="text" formControlName="surname">
          </mat-form-field>
          <br>
          <button mat-raised-button type="submit" color="primary" class="submit-button">REGISTER</button>
        </form>
        <!--<div class="row link-container">
          <a class="col-12" href=".">Already have an account? Click here to login</a>
        </div>-->
        <div class="col-12 logo-container">
          <div class="logo-box">
            <img class="logo" src="assets/bank.png">
            <h5 class="title">{{bankName}}</h5>
            <p class="subtitle">trusted & reliable</p>
          </div>
        </div>
  </div>
</div>
