body {
    background-image:url(../../images/pozadina.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100vh;
    overflow:auto;

}

.row {
    width:100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
   
}

.column {
    float: left;
    width: 30%;
    margin-right: 20px;
    display:block;
    padding: 0 10px;
  }

