body{
    background-image:url(../../images/pozadina.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100vh;
    overflow:auto;
    
}
.container{
   font-family:serif;
     background-color: #836953;
   
    border-style: 1px solid grey;
    margin: 0 auto;
    text-align: center;
    opacity: 0.9;
    margin-top: 67px;
    box-shadow: 10px 5px 10px 10px #836953;
    max-width: 400px;
    padding-top: 10px;
    height: 300px;
    margin-top: 166px;
}

.name{
    margin-left: 30px;
    margin-right: 5px;
    font-family: serif;
    font-size: 20px;
    color: white;
    margin-top: 10px;
}
.label{
    margin-left: 30px;
    margin-right:5px;
    font-family: serif;
    font-size: 20px;
    color: white;
    margin-top: 10px;
}
#username{
    margin-top:5px;
}
.heading{
    text-decoration:bold;
    text-align : center;
    font-size:40px;
    color:white;
    padding-top:10px;
    margin-bottom: 20px;
}


.pno{
    font-size: 18px;
    margin-left: -13px;
    margin-top: 10px;
    color: #ff9;
   
}	
	
.sbutton{
    color: white;
    font-size: 20px;
    border: 0px solid white;
    background-color: #db9600;
    width: 55%;
    margin-left: 30px;
    margin-top: 6px;
    font-family: serif;
    box-shadow: 0px 2px 2px 0px white;
        
  }
.btn.btn-warning:hover {
   box-shadow: 2px 1px 2px 3px #99ccff;
   background:white;
   color:#fff;
   transition: background-color 1.15s ease-in-out,border-color 1.15s ease-in-out,box-shadow 1.15s ease-in-out;
   
}	 